@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Londrina+Sketch&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.class-span {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 1px black;
  width: 10%;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.product-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: space-evenly;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.class-title {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.addToCart-button {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: red;
  padding: 10px;
}

.social-media-container {
    display: flex;
    justify-content: space-evenly;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}
